{% extends "admin/base_site.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" />
{% csrf_token %}
<table>
  {{ form.as_ul }}
</table>

<input type="submit" value="login" />
</form>

{% endblock %}