{% extends 'admin/base_site.html' %}
{% block title %}Your Profile - {{ block.super }}{% endblock %}
{% block content %}

<h2>Welcome -{{ username }}-!</h2>

<a href="/accounts/logout/">Logout</a>
{% endblock %}